.todoItem {
    display: flex;
    flex-direction: column;
}

.todoTitle {
    display: grid;
    justify-self: center;
    margin: auto;
    width: 80%;
    min-width: 800px;
    padding: 1rem;
    grid-template-columns: 50px auto 120px 50px;
    font-family: cursive;
    font-size: 40px;
}

.hidenProps {
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    height: auto;
    max-height: 600px;
    justify-self: center;
    margin: auto;
    padding-left: 10rem;
    width: 80%;
    min-width: 800px;
    font-family: cursive;
    font-size: 40px;
}

.hidenProps.collapsed {
    max-height: 0;
    transition: max-height 0.4s ease-out;
}

.todoProps {
    padding: .5rem;
}

span {
    padding: 5px;
}

button {
    align-self: center;
    outline: none;
    line-height: 80%;
    box-shadow: inset 0px 1px 3px 0px #0b3aba;
    background: linear-gradient(to bottom, #9eb4db 5%, #1f4778 100%);
    background-color: #9eb4db;
    border-radius: 42px;
    border: 1px solid #6c7db0;
    margin-left: 15px;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    padding: 0.6rem 0.7rem;
    left: 1px;
}

button:hover {
    background: linear-gradient(to bottom, #1f4778 5%, #9eb4db 100%);
    background-color: #1f4778;
}

button:active {
    position: relative;
    top: 1px;
}

button.todoPropButton {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
    font-size: 18px;
    color: rgb(141, 149, 151);
    padding: 5%;
    padding-bottom: 10%;
    align-self: flex-end;
}