.todoItem {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.todoTitle {
    display: grid;
    justify-self: center;
    margin: auto;
    width: 80%;
    min-width: 850px;
    padding: 1rem;
    grid-template-columns: 50px auto 120px 50px;
    font-family: cursive;
    font-size: 40px;
    box-shadow: 0px 2px 0px #a2abb315;
}

span {
    padding: 5px;
}

.remove-button-icon {
    width: 10px;
    height: 10px;
    padding-top: 0.1rem;
}

.remove-button {
    align-self: center;
    outline: none;
    box-shadow: inset 0px 1px 3px 0px #0b3aba;
    background: linear-gradient(to bottom, #9eb4db 5%, #1f4778 100%);
    background-color: #9eb4db;
    border-radius: 100%;
    border: 1px solid #6c7db0;
    margin-left: 15px;
    cursor: pointer;
    color: #ffffff;
    padding: 0.6rem 0.6rem;
    left: 1px;
}

.remove-button:hover {
    background: linear-gradient(to bottom, #1f4778 5%, #9eb4db 100%);
    background-color: #1f4778;
}

.remove-button:active {
    position: relative;
    top: 1px;
}

.todoPropButton {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
    font-size: 18px;
    color: rgb(141, 149, 151);
    padding: 5%;
    font-family: cursive;
    padding-bottom: 10%;
    align-self: flex-end;
}

button.todoPropButton:hover {
    text-decoration: underline;
    color: #5d6ea0;
}